:is(.dark .panel) {
    --tw-bg-opacity: 1;
    background-color: rgb(14 23 38/var(--tw-bg-opacity))
}

.navbar-floating header,
.navbar-sticky header {
    position: sticky;
    top: 0;
    z-index: 20
}

.navbar-floating header {
    background-color: #fafafae6;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem
}

:is(.dark .navbar-floating header) {
    background-color: #060818e6
}

.navbar-floating header>div>div:first-child {
    border-radius: .375rem
}

.horizontal .navbar-floating header>div>div:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.horizontal .navbar-floating header .horizontal-menu {
    border-bottom-right-radius: .375rem;
    border-bottom-left-radius: .375rem
}

.sidebar:hover .nav-item>a {
    width: auto
}

.sidebar .nav-item>a,
.sidebar .nav-item>button {
    margin-bottom: .25rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    border-radius: .375rem;
    padding: .625rem;
    --tw-text-opacity: 1;
    color: rgb(80 102 144/var(--tw-text-opacity))
}

.sidebar .nav-item>a:hover,
.sidebar .nav-item>button:hover {
    background-color: #00000014;
    --tw-text-opacity: 1;
    color: rgb(14 23 38/var(--tw-text-opacity))
}

:is(.dark .sidebar .nav-item>a:hover),
:is(.dark .sidebar .nav-item>button:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 31 50/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

.sidebar .nav-item>a.active,
.sidebar .nav-item>button.active {
    background-color: #00000014;
    --tw-text-opacity: 1;
    color: rgb(14 23 38/var(--tw-text-opacity))
}

:is(.dark .sidebar .nav-item>a.active),
:is(.dark .sidebar .nav-item>button.active) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 31 50/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

:is(.dark .sidebar .nav-item>a.active>div>span),
:is(.dark .sidebar .nav-item>button.active>div>span) {
    --tw-text-opacity: 1 !important;
    color: rgb(136 142 168/var(--tw-text-opacity)) !important
}

.sidebar ul.sub-menu li a,
.sidebar ul.sub-menu li button {
    display: flex;
    width: 100%;
    align-items: center;
    padding: .625rem 2.25rem
}

.sidebar ul.sub-menu li a:before,
.sidebar ul.sub-menu li button:before {
    height: .125rem;
    width: .5rem;
    border-radius: .25rem;
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219/var(--tw-bg-opacity))
}

.sidebar ul.sub-menu li a:hover,
.sidebar ul.sub-menu li button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

.sidebar ul.sub-menu li a:hover:before,
.sidebar ul.sub-menu li button:hover:before {
    content: var(--tw-content) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(67 97 238/var(--tw-bg-opacity)) !important
}

:is([dir=ltr] .sidebar ul.sub-menu li a):before,
:is([dir=ltr] .sidebar ul.sub-menu li button):before {
    content: var(--tw-content);
    margin-right: .5rem
}

:is([dir=rtl] .sidebar ul.sub-menu li a):before,
:is([dir=rtl] .sidebar ul.sub-menu li button):before {
    content: var(--tw-content);
    margin-left: .5rem
}

:is(.dark .sidebar ul.sub-menu li a):before,
:is(.dark .sidebar ul.sub-menu li button):before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128/var(--tw-bg-opacity))
}

:is(.dark .sidebar ul.sub-menu li a:hover),
:is(.dark .sidebar ul.sub-menu li button:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

.sidebar ul.sub-menu li a.active,
.sidebar ul.sub-menu li button.active {
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

.sidebar ul.sub-menu li a.active:before,
.sidebar ul.sub-menu li button.active:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(67 97 238/var(--tw-bg-opacity))
}

.sidebar .nav-item a div:first-child svg,
.sidebar .nav-item button div:first-child svg {
    height: 1.25rem;
    width: 1.25rem;
    color: #0e172680
}

:is(.dark .sidebar .nav-item a div:first-child svg),
:is(.dark .sidebar .nav-item button div:first-child svg) {
    color: #ffffff80
}

.main-container .main-content {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s
}

@media (min-width:1024px) {
    :is([dir=ltr] .main-container .main-content) {
        margin-left: 260px
    }

    :is([dir=rtl] .main-container .main-content) {
        margin-right: 260px
    }
}

.horizontal .horizontal-menu {
    display: none;
    --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width:1024px) {
    .horizontal .horizontal-menu {
        display: flex
    }
}

.horizontal .horizontal-logo {
    display: flex
}

:is([dir=ltr] .horizontal .main-container .main-content) {
    margin-left: 0
}

:is([dir=rtl] .horizontal .main-container .main-content) {
    margin-right: 0
}

:is([dir=ltr] .horizontal .sidebar) {
    left: -260px
}

:is([dir=rtl] .horizontal .sidebar) {
    right: -260px
}

:is([dir=ltr] .horizontal.toggle-sidebar .sidebar) {
    left: 0
}

:is([dir=rtl] .horizontal.toggle-sidebar .sidebar) {
    right: 0
}

@media (min-width:1024px) {
    :is([dir=ltr] .horizontal.toggle-sidebar .sidebar) {
        left: -260px
    }

    :is([dir=rtl] .horizontal.toggle-sidebar .sidebar) {
        right: -260px
    }
}

.horizontal .nav-item a div:first-child svg {
    height: 1.25rem;
    width: 1.25rem;
    color: #0e172680
}

.dark.horizontal .nav-item a div:first-child svg,
.horizontal .dark .nav-item a div:first-child svg,
:is(.dark .horizontal .nav-item a div:first-child svg) {
    color: #ffffff80
}

.horizontal-menu .nav-link {
    display: flex;
    align-items: center;
    border-radius: .5rem;
    padding: .625rem .5rem
}

.horizontal-menu .nav-link:hover {
    background-color: #00000014;
    --tw-text-opacity: 1;
    color: rgb(14 23 38/var(--tw-text-opacity))
}

:is(.dark .horizontal-menu .nav-link:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 31 50/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

@media (min-width:1280px) {
    .horizontal-menu .nav-link {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

.horizontal-menu .nav-link.active {
    background-color: #00000014;
    --tw-text-opacity: 1;
    color: rgb(14 23 38/var(--tw-text-opacity))
}

:is(.dark .horizontal-menu .nav-link.active) {
    --tw-bg-opacity: 1;
    background-color: rgb(24 31 50/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

.horizontal-menu ul.sub-menu {
    position: absolute;
    top: 100%;
    z-index: 20;
    display: none;
    min-width: 180px;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: .5rem 0;
    --tw-text-opacity: 1;
    color: rgb(59 63 92/var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

:is(.dark .horizontal-menu ul.sub-menu) {
    --tw-bg-opacity: 1;
    background-color: rgb(27 46 75/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

.horizontal-menu ul.sub-menu a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.horizontal-menu ul.sub-menu a:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

:is(.dark .horizontal-menu ul.sub-menu a:hover) {
    background-color: #4361ee1a
}

.horizontal-menu ul.sub-menu a.active {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

:is(.dark .horizontal-menu ul.sub-menu a.active) {
    background-color: #4361ee1a
}

.horizontal-menu>li.nav-item:hover>ul.sub-menu,
.horizontal-menu>li.nav-item>ul.sub-menu>li:hover>ul {
    display: block
}

.vertical.toggle-sidebar .collapse-icon,
.vertical.toggle-sidebar .horizontal-logo {
    display: flex
}

:is([dir=ltr] .vertical.toggle-sidebar .main-container .main-content) {
    margin-left: 0
}

:is([dir=rtl] .vertical.toggle-sidebar .main-container .main-content) {
    margin-right: 0
}

:is([dir=ltr] .vertical .sidebar) {
    left: -260px
}

:is([dir=rtl] .vertical .sidebar) {
    right: -260px
}

@media (min-width:1024px) {
    :is([dir=ltr] .vertical .sidebar) {
        left: 0
    }

    :is([dir=rtl] .vertical .sidebar) {
        right: 0
    }
}

:is([dir=ltr] .vertical.toggle-sidebar .sidebar) {
    left: 0
}

:is([dir=rtl] .vertical.toggle-sidebar .sidebar) {
    right: 0
}

@media (min-width:1024px) {
    :is([dir=ltr] .vertical.toggle-sidebar .sidebar) {
        left: -260px
    }

    :is([dir=rtl] .vertical.toggle-sidebar .sidebar) {
        right: -260px
    }
}

.collapsible-vertical .sidebar:hover {
    width: 260px
}

:is([dir=ltr] .collapsible-vertical .sidebar) {
    left: -260px
}

:is([dir=rtl] .collapsible-vertical .sidebar) {
    right: -260px
}

@media (min-width:1024px) {
    .collapsible-vertical .sidebar {
        width: 70px
    }

    :is([dir=ltr] .collapsible-vertical .sidebar) {
        left: 0
    }

    :is([dir=rtl] .collapsible-vertical .sidebar) {
        right: 0
    }
}

:is([dir=ltr] .collapsible-vertical.toggle-sidebar .sidebar) {
    left: 0
}

:is([dir=rtl] .collapsible-vertical.toggle-sidebar .sidebar) {
    right: 0
}

@media (min-width:1024px) {
    .collapsible-vertical.toggle-sidebar .sidebar {
        width: 260px
    }
}

.collapsible-vertical.toggle-sidebar .sidebar .nav-item>a {
    width: auto
}

@media (min-width:1024px) {
    .collapsible-vertical.toggle-sidebar .main-content {
        width: calc(100% - 260px)
    }

    :is([dir=ltr] .collapsible-vertical.toggle-sidebar .main-content) {
        margin-left: 260px
    }

    :is([dir=rtl] .collapsible-vertical.toggle-sidebar .main-content) {
        margin-right: 260px
    }

    .collapsible-vertical .sidebar .sub-menu {
        display: none
    }
}

.collapsible-vertical .sidebar:hover .sub-menu,
.collapsible-vertical .sidebar:hover .sub-menu.recent-submenu,
.collapsible-vertical.toggle-sidebar .sidebar .sub-menu {
    display: block
}

@media (min-width:1024px) {
    .collapsible-vertical .main-content {
        width: calc(100% - 70px)
    }

    :is([dir=ltr] .collapsible-vertical .main-content) {
        margin-left: 70px
    }

    :is([dir=rtl] .collapsible-vertical .main-content) {
        margin-right: 70px
    }
}

.collapsible-vertical .main-logo>span,
.collapsible-vertical .sidebar .collapse-icon {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s
}

@media (min-width:1024px) {

    .collapsible-vertical .main-logo>span,
    .collapsible-vertical .sidebar .collapse-icon {
        opacity: 0
    }
}

.collapsible-vertical .sidebar:hover .collapse-icon,
.collapsible-vertical .sidebar:hover .main-logo>span,
.collapsible-vertical.toggle-sidebar .collapse-icon,
.collapsible-vertical.toggle-sidebar .main-logo>span {
    transition-duration: .5s
}

@media (min-width:1024px) {

    .collapsible-vertical .sidebar:hover .collapse-icon,
    .collapsible-vertical .sidebar:hover .main-logo>span,
    .collapsible-vertical.toggle-sidebar .collapse-icon,
    .collapsible-vertical.toggle-sidebar .main-logo>span {
        opacity: 1
    }
}

.collapsible-vertical.toggle-sidebar .sidebar .collapse-icon {
    --tw-rotate: 0deg
}

.collapsible-vertical .sidebar:hover .collapse-icon,
.collapsible-vertical.toggle-sidebar .sidebar .collapse-icon {
    display: flex;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.collapsible-vertical .sidebar:hover .collapse-icon {
    --tw-rotate: 180deg
}

.collapsible-vertical .sidebar ul>h2 span {
    display: none;
    white-space: nowrap
}

.collapsible-vertical .sidebar ul>h2 svg {
    display: block
}

.collapsible-vertical .sidebar:hover ul>h2 span,
.collapsible-vertical.toggle-sidebar .sidebar ul>h2 span {
    display: inline
}

.collapsible-vertical .sidebar:hover ul>h2 svg,
.collapsible-vertical.toggle-sidebar .sidebar ul>h2 svg {
    display: none
}

.boxed-layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px
}

.boxed-layout.collapsible-vertical .sidebar,
.boxed-layout.vertical .sidebar {
    overflow: hidden
}

@media (min-width:1024px) {

    :is([dir=ltr] .boxed-layout.collapsible-vertical .sidebar),
    :is([dir=ltr] .boxed-layout.vertical .sidebar) {
        left: auto
    }

    :is([dir=rtl] .boxed-layout.collapsible-vertical .sidebar),
    :is([dir=rtl] .boxed-layout.vertical .sidebar) {
        right: auto
    }

    .boxed-layout.vertical.toggle-sidebar .sidebar {
        width: 0
    }
}
.dropdown {
    position: relative
}

.dropdown>button {
    display: flex
}

.dropdown ul {
    position: absolute;
    z-index: 10;
    margin-top: .25rem;
    min-width: 120px;
    border-radius: .25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    padding: .5rem 0;
    --tw-text-opacity: 1;
    color: rgb(14 23 38/var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

:is(.dark .dropdown ul) {
    --tw-bg-opacity: 1;
    background-color: rgb(27 46 75/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(136 142 168/var(--tw-text-opacity))
}

.dropdown ul li>a,
.dropdown ul li>button {
    display: flex;
    align-items: center;
    padding: .5rem 1rem
}

.dropdown ul li>a:hover,
.dropdown ul li>button:hover {
    background-color: #4361ee1a;
    --tw-text-opacity: 1;
    color: rgb(67 97 238/var(--tw-text-opacity))
}

.dropdown ul li>button {
    width: 100%
}
